.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
    
}


.Main{
    flex-grow: 1;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }