.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: white;

  background-color: black;
}

.backgroundICons {
  background: #000000;
background: linear-gradient(218deg,rgba(0, 0, 0, 1) 18%, rgba(66, 0, 137, 1) 100%, rgba(96, 0, 199, 1) 46%);
}

.Main {
  flex-grow: 1;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
